body {
    background: #292020;
}

h1 {
    color: red;
}

#formInputDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.formgroup {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    margin: 8px;
    height: 50px;
    flex-grow: 1;
    justify-content: space-between;
}

.horizontal {
    display: flex;
    flex-grow: 1;
}

.flexdiv {
    color: white;
    height: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.flexItem {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 300px;
}

.ctrlShiftLabel {
    flex-grow: 1;
    color: white;
}

.inputtext {
    width: 20px;
    font-size: 14px;
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.label {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}

h1 {
    color: white;
    text-align: center;
}

button {
    margin: 30px 30px;
    height: 30px;
    width: 100px;
}